body{background-color: aqua;}

.container{
    background-color: black;
    height: 60vh;
    width: 40vw;
    margin-top: 20vh;
}

.sup{ 
    background-color: brown;
    height: 10vh;
}

.mid{ 
    background-color: coral;
    height: 80%;
}
.inf{
    background-color: rgb(117, 117, 128);
    height: 10vh;
}

.col-der{
    background-color: yellow;
    height: 30%;
}
.mid-iz{
    background-color: darkgreen;
    height: 30%;
}

.btn-primary{ 
    background-color: blue; 
    display: flex;
    
    
}
.datos{ 
    background-color: blueviolet;
}